In [1]:
import pandas as pd
import numpy as np

In [34]:
censo_ce_2010 = pd.read_csv('data/censo_ce_2010_s.csv')

In [35]:
censo_ce_2010.head()

,PK_COD_MATRICULA,FK_COD_ALUNO,NUM_IDADE,TP_SEXO,TP_COR_RACA,SGL_UF_NASCIMENTO,FK_COD_MOD_ENSINO,FK_COD_ETAPA_ENSINO,PK_COD_ENTIDADE,ID_DEPENDENCIA_ADM_ESC,ID_LOCALIZACAO_ESC
0,47828103,114857830549,15,F,0,CE,1.0,41.0,23248793,3,2
1,47850956,110158925580,17,F,0,CE,1.0,41.0,23248793,3,2
2,47832296,114230349610,14,F,0,CE,1.0,41.0,23248793,3,2
3,47847190,114405021537,13,M,0,CE,1.0,41.0,23248793,3,2
4,47854519,113102389871,15,F,0,CE,1.0,41.0,23248793,3,2

In [36]:
censo_ce_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589304 entries, 0 to 2589303
Data columns (total 11 columns):
PK_COD_MATRICULA          int64
FK_COD_ALUNO              int64
NUM_IDADE                 int64
TP_SEXO                   object
TP_COR_RACA               int64
SGL_UF_NASCIMENTO         object
FK_COD_MOD_ENSINO         float64
FK_COD_ETAPA_ENSINO       float64
PK_COD_ENTIDADE           int64
ID_DEPENDENCIA_ADM_ESC    int64
ID_LOCALIZACAO_ESC        int64
dtypes: float64(2), int64(7), object(2)
memory usage: 217.3+ MB

In [37]:
censo_ce_2010.columns = ['MATRICULA', 'COD_ALUNO', 'IDADE', 'SEXO', 'TP_COR_RACA', 'UF_NASCIMENTO', 'COD_MOD_ENSINO', 'COD_ETAPA_ENSINO', 'COD_ESCOLA', 'DEPENDENCIA_ADM_ESC', 'LOCALIZACAO_ESC']

In [39]:
censo_ce_2010[['MATRICULA', 'COD_ALUNO', 'IDADE', 'SEXO', 'TP_COR_RACA', 'UF_NASCIMENTO', 'COD_MOD_ENSINO', 'COD_ETAPA_ENSINO', 'COD_ESCOLA']].to_csv('base/ALUNOS_CE_2010.csv', index=False)