In [1]:
import pandas as pd
import numpy as np

In [4]:
escolas_2010 = pd.read_csv('data/ESCOLAS.csv', delimiter='|', low_memory=False)

In [5]:
escolas_2010.head()

,ANO_CENSO,PK_COD_ENTIDADE,NO_ENTIDADE,COD_ORGAO_REGIONAL_INEP,DESC_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,FK_COD_ESTADO,SIGLA,FK_COD_MUNICIPIO,...,ID_EJA_MEDIO,ID_FUND_CICLOS,ID_LOCALIZACAO_DIFERENCIADA,ID_MATERIAL_ESP_NAO_UTILIZA,ID_MATERIAL_ESP_QUILOMBOLA,ID_MATERIAL_ESP_INDIGENA,ID_EDUCACAO_INDIGENA,ID_LINGUA_INDIGENA,FK_COD_LINGUA_INDIGENA,ID_LINGUA_PORTUGUESA
0,2010,12001945,ESC ANTONIO OLIVEIRA DANTAS,NaN,1,08FEB2010:00:00:00,14DEC2010:00:00:00,12,AC,1200336,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0
1,2010,12006726,ESC FRANCISCA DIAS MONTEIRO,NaN,2,NaN,NaN,12,AC,1200344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,12006742,ESC FRANCISCO SOARES MOREIRA,NaN,1,05APR2010:00:00:00,17DEC2010:00:00:00,12,AC,1200344,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0
3,2010,12006750,ESC GERALDO GURGEL DE MESQUITA,NaN,1,05APR2010:00:00:00,31DEC2010:00:00:00,12,AC,1200344,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0
4,2010,12006769,ESC JOANA VERSOZA DE CARVALHO,NaN,2,NaN,NaN,12,AC,1200344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
escolas_ce_2010 = escolas_2010[(escolas_2010['SIGLA'] == 'CE') & (escolas_2010['DESC_SITUACAO_FUNCIONAMENTO'] == 1)]

In [11]:
escolas_ce_2010.reset_index(inplace=True)
escolas_ce_2010.head()

,index,ANO_CENSO,PK_COD_ENTIDADE,NO_ENTIDADE,COD_ORGAO_REGIONAL_INEP,DESC_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,FK_COD_ESTADO,SIGLA,...,ID_EJA_MEDIO,ID_FUND_CICLOS,ID_LOCALIZACAO_DIFERENCIADA,ID_MATERIAL_ESP_NAO_UTILIZA,ID_MATERIAL_ESP_QUILOMBOLA,ID_MATERIAL_ESP_INDIGENA,ID_EDUCACAO_INDIGENA,ID_LINGUA_INDIGENA,FK_COD_LINGUA_INDIGENA,ID_LINGUA_PORTUGUESA
0,53732,2010,23239530,NANINHA MAE CRECHE COMUNITARIA,00017,1,25JAN2010:00:00:00,17DEC2010:00:00:00,23,CE,...,0.0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0
1,53734,2010,23235365,EMEIF PROFESSORA VANIA MARIA NEVES FACO BARROS,021R5,1,28APR2010:00:00:00,28MAR2011:00:00:00,23,CE,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0
2,53735,2010,23235373,EMEIF JOAO SARAIVA LEAO,021R6,1,14APR2010:00:00:00,15MAR2011:00:00:00,23,CE,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0
3,53736,2010,23221046,PAULO VI ESCOLA DE ENS INF FUND,00017,1,01FEB2010:00:00:00,22DEC2010:00:00:00,23,CE,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0
4,53737,2010,23221062,EDUCANDARIO ANITA MEDEIROS,00016,1,01FEB2010:00:00:00,22DEC2010:00:00:00,23,CE,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0

In [14]:
for c in escolas_ce_2010.columns:
    print(c)

index
ANO_CENSO
PK_COD_ENTIDADE
NO_ENTIDADE
COD_ORGAO_REGIONAL_INEP
DESC_SITUACAO_FUNCIONAMENTO
DT_ANO_LETIVO_INICIO
DT_ANO_LETIVO_TERMINO
FK_COD_ESTADO
SIGLA
FK_COD_MUNICIPIO
ID_DEPENDENCIA_ADM
ID_LOCALIZACAO
DESC_CATEGORIA_ESCOLA_PRIVADA
ID_CONVENIADA_PP
ID_TIPO_CONVENIO_PODER_PUBLICO
ID_MANT_ESCOLA_PRIVADA_EMP
ID_MANT_ESCOLA_PRIVADA_ONG
ID_MANT_ESCOLA_PRIVADA_SIND
ID_MANT_ESCOLA_PRIVADA_S_FINS
ID_DOCUMENTO_REGULAMENTACAO
ID_LOCAL_FUNC_PREDIO_ESCOLAR
ID_LOCAL_FUNC_SALAS_EMPRESA
ID_ESCOLA_COMP_PREDIO
ID_LOCAL_FUNC_PRISIONAL
ID_LOCAL_FUNC_TEMPLO_IGREJA
ID_LOCAL_FUNC_CASA_PROFESSOR
ID_LOCAL_FUNC_GALPAO
ID_LOCAL_FUNC_OUTROS
ID_LOCAL_FUNC_SALAS_OUTRA_ESC
ID_AGUA_FILTRADA
ID_AGUA_REDE_PUBLICA
ID_AGUA_POCO_ARTESIANO
ID_AGUA_CACIMBA
ID_AGUA_FONTE_RIO
ID_AGUA_INEXISTENTE
ID_ENERGIA_REDE_PUBLICA
ID_ENERGIA_GERADOR
ID_ENERGIA_OUTROS
ID_ENERGIA_INEXISTENTE
ID_ESGOTO_REDE_PUBLICA
ID_ESGOTO_FOSSA
ID_ESGOTO_INEXISTENTE
ID_LIXO_COLETA_PERIODICA
ID_LIXO_QUEIMA
ID_LIXO_JOGA_OUTRA_AREA
ID_LIXO_RECICLA
ID_LIXO_ENTERRA
ID_LIXO_OUTROS
ID_SALA_DIRETORIA
ID_SALA_PROFESSOR
ID_LABORATORIO_INFORMATICA
ID_LABORATORIO_CIENCIAS
ID_SALA_ATENDIMENTO_ESPECIAL
ID_QUADRA_ESPORTES
ID_COZINHA
ID_BIBLIOTECA
ID_SALA_LEITURA
ID_PARQUE_INFANTIL
ID_BERCARIO
ID_SANITARIO_FORA_PREDIO
ID_SANITARIO_DENTRO_PREDIO
ID_SANITARIO_EI
ID_SANITARIO_PNE
ID_DEPENDENCIAS_PNE
ID_DEPENDENCIAS_OUTRAS
NUM_SALAS_EXISTENTES
NUM_SALAS_UTILIZADAS
ID_EQUIP_TV
ID_EQUIP_VIDEOCASSETE
ID_EQUIP_DVD
ID_EQUIP_PARABOLICA
ID_EQUIP_COPIADORA
ID_EQUIP_RETRO
ID_EQUIP_IMPRESSORA
ID_COMPUTADORES
NUM_COMPUTADORES
NUM_COMP_ADMINISTRATIVOS
NUM_COMP_ALUNOS
ID_INTERNET
ID_BANDA_LARGA
NUM_FUNCIONARIOS
ID_ALIMENTACAO
ID_AEE
ID_MOD_ATIV_COMPLEMENTAR
ID_MOD_ENS_REGULAR
ID_REG_INFANTIL_CRECHE
ID_REG_INFANTIL_PREESCOLA
ID_REG_FUND_8_ANOS
ID_REG_FUND_9_ANOS
ID_REG_MEDIO_MEDIO
ID_REG_MEDIO_INTEGRADO
ID_REG_MEDIO_NORMAL
ID_REG_MEDIO_PROF
ID_MOD_ENS_ESP
ID_ESP_INFANTIL_CRECHE
ID_ESP_INFANTIL_PREESCOLA
ID_ESP_FUND_8_ANOS
ID_ESP_FUND_9_ANOS
ID_ESP_MEDIO_MEDIO
ID_ESP_MEDIO_INTEGRADO
ID_ESP_MEDIO_NORMAL
ID_ESP_MEDIO_PROFISSIONAL
ID_ESP_EJA_FUNDAMENTAL
ID_ESP_EJA_MEDIO
ID_MOD_EJA
ID_EJA_FUNDAMENTAL
ID_EJA_MEDIO
ID_FUND_CICLOS
ID_LOCALIZACAO_DIFERENCIADA
ID_MATERIAL_ESP_NAO_UTILIZA
ID_MATERIAL_ESP_QUILOMBOLA
ID_MATERIAL_ESP_INDIGENA
ID_EDUCACAO_INDIGENA
ID_LINGUA_INDIGENA
FK_COD_LINGUA_INDIGENA
ID_LINGUA_PORTUGUESA

In [22]:
escolas_ce_2010_s = escolas_ce_2010[['PK_COD_ENTIDADE', 'NO_ENTIDADE', 'NUM_FUNCIONARIOS', 'ID_DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'ID_BIBLIOTECA', 'ID_LABORATORIO_INFORMATICA', 'NUM_SALAS_UTILIZADAS', 'FK_COD_MUNICIPIO']]

In [23]:
escolas_ce_2010_s.head()

,PK_COD_ENTIDADE,NO_ENTIDADE,NUM_FUNCIONARIOS,ID_DEPENDENCIA_ADM,ID_LOCALIZACAO,ID_BIBLIOTECA,ID_LABORATORIO_INFORMATICA,NUM_SALAS_UTILIZADAS,FK_COD_MUNICIPIO
0,23239530,NANINHA MAE CRECHE COMUNITARIA,3.0,3,2,0,0,1.0,2301802
1,23235365,EMEIF PROFESSORA VANIA MARIA NEVES FACO BARROS,23.0,3,1,0,1,6.0,2304400
2,23235373,EMEIF JOAO SARAIVA LEAO,67.0,3,1,1,1,20.0,2304400
3,23221046,PAULO VI ESCOLA DE ENS INF FUND,38.0,3,1,0,1,8.0,2307502
4,23221062,EDUCANDARIO ANITA MEDEIROS,12.0,4,1,1,1,8.0,2303303

In [24]:
escolas_ce_2010_s.columns = ['COD_ESCOLA', 'NOME_ESCOLA', 'NUMERO_FUNCIONARIOS', 'DEPENDENCIA_ADM', 'ID_LOCALIZACAO', 'BIBLIOTECA', 'LABORATORIO_INFORMATICA', 'NUMERO_SALAS', 'COD_MUNICIPIO']

In [25]:
escolas_ce_2010_s.to_csv('base/ESCOLAS_2010.csv', index=False)

In [38]:
escolas_by_municipio = escolas_ce_2010_s.groupby(['COD_MUNICIPIO'], as_index=False)['COD_ESCOLA'].count()

In [41]:
escolas_by_municipio.columns = ['COD_MUNICIPIO', 'TOT_ESCOLAS']

In [43]:
escolas_by_municipio.to_csv('base/ESCOLAS_BY_MUNICIPIO.csv', index=False)