In [92]:
import pandas as pd
import numpy as np
import unidecode

In [78]:
pib_mun_2010 = pd.read_csv('data/vw_pib_percapita.csv')

In [79]:
pib_mun_2010.drop(columns=['FID', 'gid', 'Descrição', 'Censo', 'legenda', 'classe', 'geom'], inplace=True)

In [80]:
pib_mun_2010.columns = ['UF', 'Municipio', 'PIB', 'Populacao', 'PIB_Percapita']

In [81]:
pib_mun_2010.head()

                  UF  Municipio           PIB  Populacao  PIB_Percapita
0              BAHIA   Tremedal  5.788399e+04      18433    3140.239990
1  RIO GRANDE DO SUL     Turuçu  4.572388e+04       4000   11430.969727
2     ESPIRITO SANTO    Vitória  1.978263e+07     320156   61790.589844
3       MINAS GERAIS  Jacutinga  2.478160e+05      21424   11567.209961
4              PIAUÍ    Nazária  2.095138e+04       7895    2653.750000

In [87]:
pib_mun_ce_2010 = pib_mun_2010[pib_mun_2010['UF'] == 'CEARÁ']

In [88]:
pib_mun_ce_2010.reset_index(inplace=True)
pib_mun_ce_2010.head()

   index     UF     Municipio           PIB  Populacao  PIB_Percapita
0     26  CEARÁ       Iracema  62552.023438      15114    4138.680176
1     76  CEARÁ       Abaiara  33615.542969      11077    3034.719971
2     98  CEARÁ  Novo Oriente  93621.445312      28703    3261.729980
3    139  CEARÁ     Ibaretama  42010.300781      13206    3181.149902
4    248  CEARÁ       Acarape  56133.101562      15627    3592.060059

In [94]:
pib_mun_ce_2010['Municipio'] = pib_mun_ce_2010['Municipio'].str.upper().apply(lambda x: unidecode.unidecode(x))

C:\Users\klebe\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
pib_mun_ce_2010.head()

   index     UF     Municipio           PIB  Populacao  PIB_Percapita
0     26  CEARÁ       IRACEMA  62552.023438      15114    4138.680176
1     76  CEARÁ       ABAIARA  33615.542969      11077    3034.719971
2     98  CEARÁ  NOVO ORIENTE  93621.445312      28703    3261.729980
3    139  CEARÁ     IBARETAMA  42010.300781      13206    3181.149902
4    248  CEARÁ       ACARAPE  56133.101562      15627    3592.060059

In [30]:
cidades_ce = pd.read_csv('base/CIDADES_CE.csv')

In [31]:
cidades_ce.head()

   UF   CODIGO DESCRICAO
0  CE  2300101   ABAIARA
1  CE  2300150   ACARAPE
2  CE  2300200    ACARAU
3  CE  2300309  ACOPIARA
4  CE  2300408    AIUABA

In [101]:
merged = pib_mun_ce_2010.merge(cidades_ce, left_on='Municipio', right_on='DESCRICAO')

In [102]:
merged.head()

,index,UF_x,Municipio,PIB,Populacao,PIB_Percapita,UF_y,CODIGO,DESCRICAO
0,26,CEARÁ,IRACEMA,62552.023438,15114,4138.680176,CE,2306009,IRACEMA
1,76,CEARÁ,ABAIARA,33615.542969,11077,3034.719971,CE,2300101,ABAIARA
2,98,CEARÁ,NOVO ORIENTE,93621.445312,28703,3261.729980,CE,2309409,NOVO ORIENTE
3,139,CEARÁ,IBARETAMA,42010.300781,13206,3181.149902,CE,2305266,IBARETAMA
4,248,CEARÁ,ACARAPE,56133.101562,15627,3592.060059,CE,2300150,ACARAPE

In [103]:
pib_mun_ce_2010 = merged.drop(columns=['index', 'UF_x', 'Municipio', 'UF_y', 'DESCRICAO'])

In [104]:
pib_mun_ce_2010.head()

            PIB  Populacao  PIB_Percapita   CODIGO
0  62552.023438      15114    4138.680176  2306009
1  33615.542969      11077    3034.719971  2300101
2  93621.445312      28703    3261.729980  2309409
3  42010.300781      13206    3181.149902  2305266
4  56133.101562      15627    3592.060059  2300150

In [110]:
pib_mun_ce_2010.columns = ['PIB', 'POPULACAO', 'PIB_PERCAPITA','CODIGO_MUN']

In [111]:
pib_mun_ce_2010.to_csv('base/PIB_CE_2010.csv', index=False)

In [121]:
pib_mun_ce_2010[['CODIGO_MUN', 'POPULACAO']].to_csv('base/POPULACAO_CE_2010.csv', index=False, decimal=',')

In [122]:
pib_mun_ce_2010[['CODIGO_MUN', 'PIB']].to_csv('base/PIB_CE_2010.csv', index=False, decimal=',')

In [123]:
pib_mun_ce_2010[['CODIGO_MUN', 'PIB_PERCAPITA']].to_csv('base/PIB_PERCAPITA_CE_2010.csv', index=False, decimal=',')